body{
  font-family: "IBM Plex Mono", monospace;
  font-style: normal;
  background-color: black;
  color: white;
  max-width: 70ch;
  padding: 1em 1em;
  margin: auto;
}
h3{
    text-decoration: underline;
    text-decoration-color: blue;
}
ul{
    list-style-type: "> ";
}
a {
 
  color: white;
}